body {
  font-family: "Helvetica", sans-serif;
  background:url("lion3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #5B0013;
  font-size: 2em;
  font-family: "calibri", sans-serif;
}

h2 {
  color: black;
}

#Menu {
  background-color: #5B0013;
  color: #FFB71E;
}

#Header {
background-color: white;
padding:2%;
}
